@page
@model CV_Send.Pages.CV_s.ViewModel

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-12">
			<h2 class="text-primary">All Info of @Model.programmer.FirstName</h2>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Gender</th>
				<th>Date of Birth</th>
				<th>Nationality</th>
				<th>Programming Skills</th>
				<th>Grade</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.programmer.FirstName</td>
				<td>@Model.programmer.LastName</td>
				<td>@Model.programmer.Gender</td>
				<td>@Model.programmer.DateOfBirth</td>
				<td>@Model.programmer.Nationality</td>
				<td>@Model.programmer.Programing_Skills</td>
				<td>@Model.programmer.Grade</td>
				<td>@Model.programmer.Email</td>
			</tr>
		</tbody>
	</table>
</div>
